# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/

# Django
db.sqlite3
*.log
local_settings.py
/staticfiles/
media/

# Pytest
.pytest_cache/

# VS Code / IDE
.vscode/
.idea/

# Environment variables
.env
.env.*

# macOS
.DS_Store

# Data / model artifacts
ml_model/*.csv
ml_model/*.pkl

# Byte-compiled
*.so

# Ignore migrations if you prefer (optional)
# complaints/migrations/
